@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
header {
color: orange;
padding-left: 45px;
}

body {
font-family: "Gloria Hallelujah", cursive;
font-variant: small-caps;
background-color: black ;
margin: 0px;
padding: 0px;
font-family: Arial, Helvetica, sans-serif;
}

section#navegacao img {
display: block ;
margin-top: 0px;
padding-top: 0px;
width: 60px;
margin-top: 20px;
border-radius: 50%;
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
box-sizing: border-box;
}

section#navegacao {
margin-top: 0px;
padding-top: 0px;
text-align: right;
background-size: cover;
width: 100vw;
height: 20vh;
}

section#navegacao img:hover {
text-align: right;
border: 2px solid rgba(255, 255, 255, 0.637);
transform: translate(4px, 4px);
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.637);
transition: transform 0.4s, border 0.8;
}

section#navegacao2 img {
display: block ;
margin-top: 0px;
padding-top: 0px;
width: 90px;
margin: 8px;
border-radius: 50%;
box-shadow: 2px 2px 5px blue;
box-sizing: border-box;
}

section#navegacao2 {
margin-top: 0px;
padding-top: 0px;
text-align: right;
background-size: cover;
width: 100vw;
height: 20vh;
}

section#navegacao2 img:hover {
text-align: right;
border: 2px solid blue;
transform: translate(4px, 4px);
box-shadow: 5px 5px 10px blue;
transition: transform 0.4s, border 0.8;
}

section h1{
font-family: "Gloria Hallelujah", cursive;;
font-size: 4em;
margin: 0px;
padding-top:10px;
margin-top: 0px;
border-top: 0px;
text-align: center;   
color: orange
}

main#menus{
padding: 10px;
min-width: 350px;
max-width: 850px;
margin: auto;
margin-bottom: 10px;
box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.526);
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
background-image: url(imagens/hamburger-2667443_1280.jpg);
background-repeat: no-repeat;
background-position: center center;
width: 100vw;
height: 70vh;
}   

main h1 {
padding-top: 0px;
margin-top: 0px ;
}
